<div class="center hero-unit">
<h1>Bienvenido a Yoptic</h1>
<p>Yoptic es la plataforma online de gestion de opticas que te permite administrar todos tus procesos facilmente y llevar tu optica al exito.</p>
<%= link_to "Nuevo usuario", signup_path, class: "btn btn-large btn-primary" %>
</div>