<footer class="footer">
  <small>
    <a href="http://www.yoptic.com/">Pagina corporativa</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Nosotros",   'http://www.yoptic.com/about' %></li>
      <li><%= link_to "Plataforma", 'http://www.yoptic.com/products' %></li>
      <li><%= link_to "Servicios", 'http://www.yoptic.com/services' %></li>
    </ul>
  </nav>
</footer>